In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline
import matplotlib.pyplot as ppt
import json

In [11]:
ls

2019-02-28.json  2019-05-09.json  2019-07-18.json  2019-09-26.json
2019-03-07.json  2019-05-16.json  2019-07-25.json  2019-10-03.json
2019-03-14.json  2019-05-23.json  2019-08-01.json  2019-10-10.json
2019-03-21.json  2019-05-30.json  2019-08-08.json  2019-10-17.json
2019-03-28.json  2019-06-06.json  2019-08-15.json  2019-10-24.json
2019-04-04.json  2019-06-13.json  2019-08-22.json  2019-10-31.json
2019-04-11.json  2019-06-20.json  2019-08-29.json  2019-11-07.json
2019-04-18.json  2019-06-27.json  2019-09-05.json  2019-11-14.json
2019-04-25.json  2019-07-04.json  2019-09-12.json
2019-05-02.json  2019-07-11.json  2019-09-19.json

In [12]:
import glob
df = pd.DataFrame()
for f in glob.glob("*.json"):
    appenddata = pd.read_json(f)
    df = df.append(appenddata,ignore_index=True)

In [16]:
df.head(20)

,ChargeInUSDAmount,ChargeIsRecurring,ChargesATM,ChargesAvgInUsdATM,CheckoutCampaignKey,CheckoutDefaultCurrency,CheckoutViewID,ClientHour,ClientID,ClientIPCountry,...,OS,SessionID,SessionStartTime,SiteVisits,UACountry,UAName,UTMContent,UTMMedium,UTMSource,UrlsUntilCheckoutOpen
0,0,0,0,0.000000,FUNSGXPIJWQ,,6.743092e+18,11,1.551451e+19,FR,...,Ubuntu,1.554110e+19,2019-04-01 09:17:42,1,US,Firefox,,,,1
1,0,0,0,0.000000,FUNGGEFWCRC,,5.336672e+18,9,1.551695e+19,CZ,...,Windows,1.555915e+19,2019-04-22 06:31:12,1,US,Chrome,,,,1
2,0,0,1,13016.000000,FUNVBDXEBJT,,7.664943e+18,23,1.551913e+19,GB,...,Windows,1.551913e+19,2019-03-06 22:59:45,1,US,Chrome,,,,3
3,0,0,0,0.000000,FUNVBDXEBJT,,7.041673e+18,22,1.551913e+19,GB,...,Windows,1.551913e+19,2019-03-06 22:59:45,1,US,Chrome,,,,3
4,0,0,0,0.000000,FUNSGXPIJWQ,USD,9.598248e+18,14,1.551364e+19,CZ,...,Mac OS,1.567428e+19,2019-09-02 12:48:19,2,,Safari,,,,1
5,0,0,0,0.000000,FUNSGXPIJWQ,USD,2.015134e+18,11,1.551364e+19,CZ,...,Mac OS,1.567417e+19,2019-09-02 09:34:11,1,,Safari,,,,1
6,0,0,0,0.000000,FUNSGXPIJWQ,,3.091078e+17,17,1.551454e+19,DE,...,Linux,1.557588e+19,2019-05-11 15:21:11,1,DE,Chrome,,,,1
7,0,0,0,0.000000,FUNMGTGJRFQ,,5.115378e+18,1,1.551724e+19,United States,...,Windows,1.553142e+19,2019-03-21 04:20:50,2,US,Chrome,,,,9
8,0,0,0,0.000000,FUNERHDHZNG,,6.593035e+18,7,1.551544e+19,US,...,Android,1.554130e+19,2019-04-01 14:46:30,1,US,Samsung Browser,,,,1
9,0,0,0,0.000000,FUNKWYILLMJ,,2.512495e+18,21,1.551818e+19,GB,...,iOS,1.554841e+19,2019-04-09 20:22:32,1,,Mobile Safari,Donate,email,newsletter,1
10,0,0,0,0.000000,FUNSGXPIJWQ,,6.313650e+17,13,1.551800e+19,Turkey,...,Mac OS,1.551800e+19,2019-03-05 15:31:04,1,US,Firefox,,,,2
11,0,0,5,5567.800000,FUNVBDXEBJT,USD,6.734527e+18,23,1.551572e+19,AU,...,Windows,1.570024e+19,2019-10-02 13:53:36,1,US,Chrome,,,,5
12,0,0,0,0.000000,FUNVBDXEBJT,,3.363630e+18,8,1.551572e+19,AU,...,Windows,1.557229e+19,2019-05-07 11:43:27,1,US,Chrome,,,,9
13,6724,0,1,8434.000000,FUNVBDXEBJT,,3.172527e+18,13,1.551572e+19,AU,...,Windows,1.561174e+19,2019-06-22 03:21:12,1,US,Chrome,,,,5
14,0,0,4,5873.250000,FUNGOLVMRUB,USD,4.595915e+18,20,1.551572e+19,AU,...,Windows,1.567592e+19,2019-09-04 10:16:01,1,US,Chrome,,,,4
15,0,0,0,0.000000,FUNVBDXEBJT,,2.816322e+18,8,1.551572e+19,AU,...,Windows,1.557229e+19,2019-05-07 11:43:27,1,US,Chrome,,,,9
16,0,0,5,5567.800000,FUNROVSJXFI,USD,4.493787e+18,23,1.551572e+19,AU,...,Windows,1.570024e+19,2019-10-02 13:53:36,1,US,Chrome,,,,5
17,0,0,2,7579.000000,FUNVBDXEBJT,USD,5.697746e+18,11,1.551572e+19,AU,...,Windows,1.565227e+19,2019-08-08 01:19:25,1,US,Chrome,,,,3
18,0,0,3,6379.333333,FUNGOLVMRUB,USD,4.291177e+18,20,1.551572e+19,AU,...,Windows,1.566298e+19,2019-08-20 10:50:29,4,US,Chrome,,,,2
19,0,0,0,0.000000,FUNKBIOFJTT,,4.010897e+18,8,1.551851e+19,United States,...,Mac OS,1.553037e+19,2019-03-19 23:03:54,2,,Safari,,,,1

In [14]:
df.columns

Index(['ChargeInUSDAmount', 'ChargeIsRecurring', 'ChargesATM',
       'ChargesAvgInUsdATM', 'CheckoutCampaignKey', 'CheckoutDefaultCurrency',
       'CheckoutViewID', 'ClientHour', 'ClientID', 'ClientIPCountry',
       'ClientTimeZone', 'ClientWeekday', 'CompanyKey', 'Device', 'EventTime',
       'IsMobile', 'IsTablet', 'LastSeenCheckoutCurrency',
       'LastSeenCheckoutCurrencyRate', 'LastSeenCheckoutDefaultAmount',
       'LastSeenCheckoutIsRecurring', 'LastSeenCheckoutPresets', 'OS',
       'SessionID', 'SessionStartTime', 'SiteVisits', 'UACountry', 'UAName',
       'UTMContent', 'UTMMedium', 'UTMSource', 'UrlsUntilCheckoutOpen'],
      dtype='object')

In [40]:
df[['ClientID','SessionID', 'EventTime', 'SessionStartTime']].head(10)

       ClientID     SessionID           EventTime    SessionStartTime
0  1.551451e+19  1.554110e+19 2019-04-01 09:17:29 2019-04-01 09:17:42
1  1.551695e+19  1.555915e+19 2019-04-22 07:01:56 2019-04-22 06:31:12
2  1.551913e+19  1.551913e+19 2019-04-01 22:22:48 2019-03-06 22:59:45
3  1.551913e+19  1.551913e+19 2019-04-01 21:34:30 2019-03-06 22:59:45
4  1.551364e+19  1.567428e+19 2019-09-02 12:48:20 2019-09-02 12:48:19
5  1.551364e+19  1.567417e+19 2019-09-02 09:34:12 2019-09-02 09:34:11
6  1.551454e+19  1.557588e+19 2019-05-11 15:21:11 2019-05-11 15:21:11
7  1.551724e+19  1.553142e+19 2019-03-21 06:26:18 2019-03-21 04:20:50
8  1.551544e+19  1.554130e+19 2019-04-01 14:46:33 2019-04-01 14:46:30
9  1.551818e+19  1.554841e+19 2019-04-09 20:22:36 2019-04-09 20:22:32

In [15]:
df.shape

(184515, 32)

In [20]:
df[['ChargeInUSDAmount', 'SessionID','ChargesATM', 'EventTime',
    'LastSeenCheckoutCurrency',
    'LastSeenCheckoutCurrencyRate', 'LastSeenCheckoutDefaultAmount',
    'LastSeenCheckoutIsRecurring', 'LastSeenCheckoutPresets']].head(30)

,ChargeInUSDAmount,SessionID,ChargesATM,EventTime,LastSeenCheckoutCurrency,LastSeenCheckoutCurrencyRate,LastSeenCheckoutDefaultAmount,LastSeenCheckoutIsRecurring,LastSeenCheckoutPresets
0,0,1.554110e+19,0,2019-04-01 09:17:29,,0.000000,0,0,[]
1,0,1.555915e+19,0,2019-04-22 07:01:56,,0.000000,0,0,[]
2,0,1.551913e+19,1,2019-04-01 22:22:48,,0.000000,0,0,[]
3,0,1.551913e+19,0,2019-04-01 21:34:30,,0.000000,0,0,[]
4,0,1.567428e+19,0,2019-09-02 12:48:20,USD,1.000000,6500,1,"[30000, 15000, 6000, 2500, 1200, 500]"
5,0,1.567417e+19,0,2019-09-02 09:34:12,USD,1.000000,6500,1,"[30000, 15000, 6000, 2500, 1200, 500]"
6,0,1.557588e+19,0,2019-05-11 15:21:11,,0.000000,0,0,[]
7,0,1.553142e+19,0,2019-03-21 06:26:18,,0.000000,0,0,[]
8,0,1.554130e+19,0,2019-04-01 14:46:33,,0.000000,0,0,[]
9,0,1.554841e+19,0,2019-04-09 20:22:36,,0.000000,0,0,[]
10,0,1.551800e+19,0,2019-03-26 10:47:29,,0.000000,0,0,[]
11,0,1.570024e+19,5,2019-10-02 13:54:39,USD,1.000000,1200,0,"[2000, 6500, 12000, 30000, 50000, 100000]"
12,0,1.557229e+19,0,2019-06-06 22:24:33,,0.000000,0,0,[]
13,6724,1.561174e+19,1,2019-06-22 03:22:08,,0.000000,0,0,[]
14,0,1.567592e+19,4,2019-09-04 10:18:41,AUD,1.479850,4500,0,"[150000, 70000, 16000, 12000, 3500, 1500]"
15,0,1.557229e+19,0,2019-06-06 22:21:48,,0.000000,0,0,[]
16,0,1.570024e+19,5,2019-10-02 13:56:02,AUD,1.492950,12000,0,"[150000, 70000, 17000, 12000, 6000, 3000]"
17,0,1.565227e+19,2,2019-08-08 01:23:42,AUD,1.480155,3500,0,"[150000, 70000, 40000, 15000, 9000, 3000]"
18,0,1.566298e+19,3,2019-08-20 10:51:20,AUD,1.476701,3500,0,"[150000, 70000, 17000, 12000, 4000, 1500]"
19,0,1.553037e+19,0,2019-03-20 15:36:46,,0.000000,0,0,[]
20,0,1.556383e+19,0,2019-04-27 16:39:15,,0.000000,0,0,[]
21,0,1.556286e+19,0,2019-04-26 13:33:23,,0.000000,0,0,[]
22,0,1.560441e+19,0,2019-06-13 21:28:55,,0.000000,0,0,[]
23,0,1.556650e+19,0,2019-04-30 18:48:49,,0.000000,0,0,[]
24,0,1.556286e+19,0,2019-04-26 13:34:10,,0.000000,0,0,[]
25,0,1.557580e+19,0,2019-05-11 13:11:19,,0.000000,0,0,[]
26,0,1.556846e+19,0,2019-05-03 01:12:12,,0.000000,0,0,[]
27,0,1.557695e+19,0,2019-05-12 21:05:35,,0.000000,0,0,[]
28,0,1.553608e+19,0,2019-03-26 14:07:43,,0.000000,0,0,[]
29,0,1.567989e+19,0,2019-09-09 00:38:44,USD,1.000000,6000,0,"[2500, 5500, 12000, 30000, 50000, 100000]"

In [23]:
df[df['ChargeInUSDAmount']!=0][['ChargeInUSDAmount', 'SessionID','ChargesATM', 'EventTime',
                                'LastSeenCheckoutCurrency',
                                'LastSeenCheckoutCurrencyRate', 'LastSeenCheckoutDefaultAmount',
                                'LastSeenCheckoutIsRecurring', 'LastSeenCheckoutPresets']].tail(30)

,ChargeInUSDAmount,SessionID,ChargesATM,EventTime,LastSeenCheckoutCurrency,LastSeenCheckoutCurrencyRate,LastSeenCheckoutDefaultAmount,LastSeenCheckoutIsRecurring,LastSeenCheckoutPresets
119943,10600,1.569710e+19,0,2019-09-28 22:35:40,USD,1.00000,12000,0,"[100000, 50000, 30000, 10000, 5500, 2500]"
120045,10600,1.570388e+19,0,2019-10-06 19:00:22,USD,1.00000,3000,0,"[2000, 6500, 12000, 30000, 50000, 100000]"
120968,26300,1.569870e+19,0,2019-09-30 18:57:49,USD,1.00000,1500,0,"[100000, 50000, 25000, 10000, 5000, 2500]"
121226,10600,1.569957e+19,0,2019-10-01 19:02:35,USD,1.00000,2500,0,"[2500, 5500, 10000, 30000, 50000, 100000]"
121998,1080,1.569673e+19,0,2019-09-28 12:18:01,USD,1.00000,1200,1,"[25000, 12000, 5500, 3000, 1000, 500]"
123084,2140,1.569966e+19,0,2019-10-01 21:40:21,USD,1.00000,2000,0,"[50000, 30000, 14000, 10000, 6500, 3000]"
128210,21000,1.570633e+19,0,2019-10-09 14:51:09,USD,1.00000,5000,0,"[105000, 50000, 30000, 15000, 7500, 2500]"
135027,10600,1.571234e+19,0,2019-10-16 13:50:04,USD,1.00000,6000,0,"[100000, 50000, 30000, 12000, 5500, 2500]"
135072,5300,1.570884e+19,0,2019-10-12 12:49:44,USD,1.00000,9000,0,"[100000, 50000, 30000, 12000, 6500, 2000]"
135131,571,1.571258e+19,0,2019-10-16 20:37:26,CHF,0.99826,8500,0,"[120000, 65000, 35000, 14000, 8000, 2500]"
137505,8500,1.571194e+19,0,2019-10-16 02:57:26,USD,1.00000,8500,0,"[2000, 6000, 10000, 25000, 50000, 100000]"
138658,560,1.571239e+19,1,2019-10-16 15:24:06,USD,1.00000,6500,0,"[7500, 12000, 17000, 25000, 35000, 50000]"
139108,1610,1.570792e+19,0,2019-10-11 11:24:02,USD,1.00000,1500,1,"[17500, 10000, 5000, 2500, 1500, 1000]"
141249,1332,1.570740e+19,0,2019-10-10 20:38:24,GBP,0.81873,3500,1,"[500, 1000, 3500, 6000, 13000, 30000]"
143264,7950,1.570750e+19,0,2019-10-10 23:35:12,USD,1.00000,10000,0,"[100000, 50000, 25000, 10000, 7500, 2500]"
143444,30000,1.570742e+19,0,2019-10-10 21:37:04,USD,1.00000,5000,0,"[105000, 50000, 30000, 15000, 7500, 2500]"
150449,2650,1.571833e+19,0,2019-10-23 12:11:36,USD,1.00000,5000,1,"[100000, 50000, 30000, 10000, 5000, 2500]"
155391,2650,1.572310e+19,0,2019-10-29 00:52:28,USD,1.00000,12000,1,"[25000, 12000, 5500, 3000, 1000, 500]"
156599,4240,1.572300e+19,3,2019-10-28 21:55:34,USD,1.00000,9000,1,"[30000, 14000, 6000, 3000, 1200, 500]"
156604,4240,1.572285e+19,1,2019-10-28 17:51:00,USD,1.00000,9000,1,"[30000, 14000, 6000, 3000, 1200, 500]"
159276,10500,1.572328e+19,0,2019-10-29 05:44:59,USD,1.00000,10000,0,"[100000, 50000, 25000, 10000, 5000, 2500]"
166934,560,1.572630e+19,0,2019-11-01 17:35:46,USD,1.00000,7000,1,"[2000, 6500, 10000, 30000, 50000, 100000]"
167602,2000,1.572565e+19,0,2019-11-01 00:01:11,USD,1.00000,7000,1,"[100000, 50000, 25000, 10000, 6000, 2000]"
169771,52500,1.572792e+19,0,2019-11-03 14:49:30,USD,1.00000,7000,0,"[100000, 50000, 30000, 12000, 6500, 2000]"
172073,4770,1.572589e+19,1,2019-11-01 06:27:34,USD,1.00000,7000,1,"[100000, 50000, 30000, 12000, 6500, 2000]"
175450,2650,1.573175e+19,0,2019-11-08 01:03:40,USD,1.00000,4500,0,"[2500, 5000, 10000, 25000, 50000, 100000]"
176446,10000,1.573245e+19,0,2019-11-08 20:24:33,USD,1.00000,7000,0,"[2000, 6000, 10000, 25000, 50000, 100000]"
176671,12600,1.573585e+19,0,2019-11-12 18:55:44,USD,1.00000,12000,0,"[100000, 50000, 30000, 12000, 6000, 2500]"
180047,2140,1.573253e+19,0,2019-11-08 22:51:20,USD,1.00000,7000,0,"[2000, 6500, 12000, 30000, 50000, 100000]"
183827,2128,1.573721e+19,0,2019-11-14 08:44:57,BGN,1.77673,3000,0,"[1500, 3500, 7000, 18000, 40000, 65000]"

In [26]:
from datetime import datetime

In [27]:
def todatetime(s):
    if s != "0000-00-00 00:00:00":
        return datetime.fromisoformat(s)

In [28]:
df["SessionStartTime"] = df["SessionStartTime"].apply(todatetime)
df["EventTime"] = df["EventTime"].apply(todatetime)

In [29]:
df['SessionStartWeek'] = df['SessionStartTime'].dt.week

In [31]:
week = df[['SessionStartWeek', 'ChargeInUSDAmount']].groupby('SessionStartWeek', as_index=False).agg(np.sum).sort_values(by='ChargeInUSDAmount')

In [38]:
week

    SessionStartWeek  ChargeInUSDAmount
0                  9                  0
1                 10                  0
2                 11                  0
3                 12                  0
4                 13                  0
5                 14                  0
6                 15                  0
21                30                  0
20                29                  0
15                24                  0
11                20                  0
12                21               2180
34                43               2650
18                27               2680
8                 17               4405
24                33               5250
19                28               6360
16                25               6974
14                23              10600
10                19              13082
23                32              13250
26                35              14632
37                46              14728
36                45              14790
9                 18              16592
33                42              20231
7                 16              23240
25                34              27930
30                39              35623
28                37              54721
22                31              66000
13                22              67800
32                41              70372
35                44              81460
29                38              92152
27                36             112564
31                40             115600
17                26             183280

In [33]:
week.columns

Index(['SessionStartWeek', 'ChargeInUSDAmount'], dtype='object')